$stagecolors-primary: (
    military: #D91F26,
     money: #B19570,
     debt: #A08972,
     wonder: #E9C44A,
     civic: #2276CF,
     commerce: #CF8923,
     science: #1A7B30,
     guild: #92278F,
     leader: #BCBCBC,
     cities: #545454);

$text-shadow-color: rgba(0, 0, 0, 0.75)
